#case_control{
    .dt-name{
        font-weight: bolder;
    }

    .dt-status{
        font-weight: bolder;

        &.open { color: rgb(0, 255, 42); }
        &.closed { color: rgb(255, 0, 51); }
    }
}