@use "~shared/styles/variables.scss" as *;

#dorm_status{
    width: 100%;
    height: 100%;

    .btn{
        border-radius: 0;
        padding-inline: 1.25rem;
        margin-right: 1rem;
    }

    .tableWrap{
        width: max-content;
        height: auto;

        .dt-layout-row{
            margin: 0;
        }
    }

    .dormStatusTable{
        tr{
            cursor: pointer;

            &:hover { background: rgba(0, 0, 0, .03); }
        }

        th{
            background: $jshsusColorDark;
            color: $textColorLight;
            padding-block: 0.25rem;
        }

        td{
            height: 40px;
            padding-inline: 1.75rem;
            &:hover { background: rgba(0, 0, 0, .1); }
        }

        th.dt-center, td.dt-center{
            text-align: center;
            font-size: 16px;
            text-wrap: nowrap;
        }

        td.dt-first{
            background: $jshsusColorLight2;
            color: $textColorLight;
            padding-inline: 0.75rem;
            font-weight: 700;
        }

        a{
            color: #7696ff;
            text-decoration: none;

            &:hover { color: #576db6; }
        }
    }
}