#points_view{
    .pointsViewTable{
        .dt-link{
            width: 200px;
            
            a { text-decoration: none; }
        }
    
        .dt-sum{
            font-weight: bolder;
        }
    }
}