#points_history{  
    .tableWrap{
        width: 100%;

        .historyTable{
            width: 100%;

            td{
                font-size: 1rem;
            }
    
            .dt-content{
                font-weight: bolder;
    
                .type{
                    color: #fff;
                    padding-inline: 5px;
                    padding-block: 2px;
                    border-radius: 3px;
                    margin-right: 10px;
    
                    &.good { background: limegreen; }
                    &.bad { background: red; }
                }
    
                text-wrap: wrap;
            }
    
            .dt-reason{
                width: 35rem !important;
                text-overflow: ellipsis;
            }
        }
    }
}